<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
         
  <servlet>
    <servlet-name>EVEAuth</servlet-name>
    <servlet-class>org.evekit.examples.sso.EVESSOAuthorizationHandler</servlet-class>
  </servlet>

  <!-- Your login button should match this pattern -->
  <servlet-mapping>
    <servlet-name>EVEAuth</servlet-name>
    <url-pattern>/eve_auth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EVEAuthCB</servlet-name>
    <servlet-class>org.evekit.examples.sso.EVESSOCallbackHandler</servlet-class>
  </servlet>

  <!-- Your EVE SSO URL should match this pattern -->
  <servlet-mapping>
    <servlet-name>EVEAuthCB</servlet-name>
    <url-pattern>/eve_auth_cb</url-pattern>
  </servlet-mapping>

</web-app>
